---
import Navigation from '../components/Navigation.astro';

const { frontmatter } = Astro.props;

const { pathname } = Astro.url;

const currentPath = pathname.replace(/\/$/, "");

const hideFooterPages = ["", "/index", "/bio", "/feed"];
const showFooter = !hideFooterPages.includes(currentPath);
---

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta charset="utf-8"/> 
		<title>fefo {frontmatter.title}</title>   
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head> 
<body> 
<div class="inner">
	{frontmatter.customTitle ? (
		<h1 set:html={frontmatter.customTitle} />
	) : (
		<h1>fefo {frontmatter.title}</h1>
	)}
	
	<div style="width:50%;">
	    <hr noshade="noshade"/>  
	</div>
	
    <Navigation />

    <slot />

    {showFooter && (
      <footer>
        <p style="font-size:small">Felippe Brandão</p>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
          <img style="width:10%; height:10%" src="/img/cc.png" alt="CC License" />
        </a>
      </footer>
    )}

</div>
</body>
</html>
